# GitHub CODEOWNERS file
# This file designates who should review pull requests for the repository

# Default code owners for the entire repository
* @likhitrajy @8pandemonium8 @skanderspy @INTRON-26
